#
# Run the AVISO Mesoscale Eddy Product updater once a day
#
# N.B. This has two components, AVISO.service and AVISO.timer
#
# sudo cp AVISO.* /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable AVISO.timer AVISO.service
# sudo systemctl start AVISO.timer
#
# To view the timers:
# 
# sudo systemctl list-timers AVISO
# 
# Feb-2022, Pat Welch, pat@mousebrains.com

[Unit]
Description=Run AVISO Mesoscale Eddy Product updater

[Timer]
# dayOfWeek Year-Month-Day Hour:Minute:Second
# the AVISO product is typically updated by 06:12 UTC
OnCalendar=7:00:00 UTC
Persistent=true # Fire on boot if the last shot was missed

[Install]
WantedBy=timers.target

